.footer {
    background-color: #000000;
    color: white;
    padding: 20px;
    text-align: center;
    border-top: 1px solid #000000;
  }
  
  .footer h4 {
    margin-bottom: 20px;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .footer-links {
    margin: 10px;
  }
  
  .footer-links h5 {
    margin-bottom: 10px;
  }
  
  .footer-links ul {
    list-style-type: none;
    padding: 0;
  }
  
  .footer-links ul li {
    margin: 5px 0;
  }
  
  .footer-links ul li a {
    color: #ffffff;
    text-decoration: none;
  }
  
  .footer-links ul li a:hover {
    text-decoration: underline;
  }
  