.hero{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}
.hero h3{
    font-size: 45px;
    text-align: center;
    font-weight: 700;
    animation: appear 1s 1;
}

@keyframes appear {
    0%{
        opacity: 0;
        filter: blur(10px);
    }
    25%{
        filter: blur(6);
    }
    100%{
        opacity: 1;
        filter: blur(0);
    }
}

.img-home{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 40px;
    width: 100%;
}